# Dependencies
node_modules/

# Environment files
.env
.env.*

# Build output
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Coverage
coverage/

# Cache
.cache/
.nest/
.npm/
.yarn/

# IDEs & Editors
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/
